/* ================= LAYOUT ================= */

.regional-layout {
  display: flex;
}

/* ================= CONTENT ================= */

.regional-content {
  margin-left: 260px;          /* pushes content beside sidebar */
  width: calc(100% - 260px);   /* prevents overflow */
  min-height: 100vh;

  padding: 1px;
  padding-top: var(--role-account-bar-height, 104px);
  background: #f0fff9;

  overflow-y: auto;            /* page scroll */
}
